body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(235, 233, 233);
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
}

button {
    margin: auto;
    height: 50px;
    width: 500px;
    background-color: black;
    color: white;
    font-size: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: aqua;
}

.cell {
    flex: 1 1 auto;
    background-color: white;
    /*border: .5px solid white;*/
}

#container {
    display: flex;
    border: 2px solid black;
    filter: drop-shadow(5px 5px 10px gray);
    margin: auto;
    margin-bottom: 65px;
    width: 500px;
    height: 500px;
}